---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% assign pubs = site.publications | sort: "order" %}

{% for category in site.publication_category %}
{% assign title_shown = false %}
{% for pub in pubs %}
{% if pub.category == category[0] %}
{% unless title_shown %}
## {{ category[1].title }}
{% assign title_shown = true %}
{% endunless %}

### {{ pub.title }}
{{ pub.citation }}

{% if pub.paperurl %}[Paper]({{ pub.paperurl }}){% endif %}

{{ pub.excerpt }}

{% endif %}
{% endfor %}
{% endfor %}
